{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "> 1%"
                },
                "modules": "false",
                "useBuiltIns": "usage",
                "debug": true
            }
        ]
    ]
}
